body{
    margin: 0;
    padding-top: 80px;
    padding-left: 95px;
    padding-right: 23px;
}
.head-button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -20px;
 
    position: ;
    z-index: ;

}
.style1{
    color: white;
    height: 25px;
    margin-left: 2px;
    margin-right: 2px;
    padding-bottom: 40px;
}
.style2{
    border:1px solid rgb(218, 213, 213);
    font-family:arial ;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    background-color: rgba(0, 0, 0, 0.05);
    height: 32px;
  border-radius:12px ;
  cursor: pointer;


}
.style2:hover{
    background-color: rgb(73, 71, 71);
}